# Ignore build and output directories
/build/
/bin/
/CMakeCache.txt
/CMakeFiles/
/Makefile
*.cmake
*.out
*.o
*.a

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
